<style>
  .active {
    background-color: #428BCA;
  }
</style>

<div style="display: flex; flex-direction: row; transform: translateX(-20px);">
  <div class="sidebar" style="display: flex; flex-direction: column;">
    <div class="qList">
      <div style="display: flex; height: 40px;">
        <p style="color: black; font-size: 18px; text-wrap: nowrap;">Thời gian đếm ngược :</p>
        <p style="color: red; font-size: 20px; margin-left: 6px;"> {{ countdown | countdownFormat}}</p>
      </div> 
      <!-- <div>
          
          <button *ngFor="let div of listQuestion , index as i" (click)="showDiv(div.id.toString())"> Câu {{ i+1 }}</button>
        </div> -->
      <div class="questionBox">
        <button class="qButton btn btn-outline-secondary"
          *ngFor="let item of listQuestion , index as i" (click)="scrollToDiv(item.id)"
          [ngStyle]="{'background-color': getColor(item), 'color': getFontColor(item)}">Câu {{i+1}}
        </button>
      </div>
    </div>
    <div class="submitExam">
      <button class="nopbai btn btn-outline-info" (click)="submitAssignment()">Nộp bài</button>
    </div>
  </div>

  <div class="container">

    <div class="caption">
      <i class="fa-solid fa-tag"></i>
      <span>Đề thi</span>
    </div>

    <div class="main">
      <div class="table">
        <span>Phần thi</span>

        <Div #targetDiv class="Question" *ngFor="let item of listQuestion, index as i" [id]="item.id">
          <div class="content">
            <div style="font-size: 22px;">
              <p style="color: maroon; margin-bottom: 5px;">Câu hỏi {{i+1}} : </p>
              {{item.question}}
            </div>
            
            <img *ngIf="item.image != null" src={{item.image}}>
          </div>
          <div class="answers">
            <div class="choose" *ngFor="let answer of checkAnswerOfQuestion(item) , index as j">

              <button style="height: 45px;" class="btn btn-outline-secondary" class="option-button{{item.id}}"
                (click)="clearSelection($event, item, answer)">{{myArray[j]}}: </button>

              <p style="margin: 0 0 0 10px;">{{answer.answer}}</p>

            </div>
          </div>
        </Div>

      </div>
    </div>


  </div>
</div>