
    <header *ngIf="user!=null && user.role != null">
        <div class="image-background">
        </div>
        <div class="menu">
            
            <div class="login-area">
                <button   *ngIf="user!=null && user.role === 'ROLE_ADMIN'" (click)="onButtonClick2()">
                    Đăng xuất
                </button>
            </div>
        </div>
    </header>
    <div class="container"  *ngIf="user!==null && user.role !== null">
        <div *ngIf=" user.role === 'ROLE_ADMIN'" class="navbar" style="min-width: 180px;">
            <div class="bar">
                <ul>
                    <div class="control">
                        <i class="fa-solid fa-bars"></i> 
                        <span>Chức năng</span>
                    </div>
                    <li><a routerLink="/question"><i class="fa-solid fa-angle-right"></i>Câu hỏi </a></li>
                    <li><a routerLink="/category"><i class="fa-solid fa-angle-right"></i>Danh mục</a></li>
                    <li><a routerLink="/user"><i class="fa-solid fa-angle-right"></i>Quản lý</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="user === null"> <router-outlet></router-outlet></div>
    
    <footer  *ngIf="user!=null && user.role != null">
    
    </footer>
  